* {
    box-sizing: border-box;
}

:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body, #container {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 0.75em;
}

#container {
    display: grid;
    grid-template-columns: 6mm 25% auto 47mm;
    height: 540mm;
}

#container > * {
    border-style: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #eee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 0.25em;
    padding-right: 0.25em;
    page-break-inside: avoid;
}

#container > .header {
    font-size: 0.9em; 
    font-weight: bold;   
    text-transform: uppercase;
}

#container > .no {
    font-size: 0.7em;
    border-left-width: 1px;
}

#container > .artist {
    text-transform: capitalize;
    font-size: 1.1em;
}

#container > .title {
    text-transform: uppercase;
    font-size: 1.5em;
}

#container > .obs {
    font-size: 1.2em;
    font-weight: bold;
    border-right-width: 1px;
}
